.container {
    height: 100vh;
    background-color: #393E41;
}

/* Login Form */

.title {
    font-size: 24px;
}

.form-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
    /* Allow the item to shrink */
    border: 1px solid #ccc;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 228, 228);
    border-radius: 0.8rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* More pronounced drop shadow */
}


.form-field-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin: 40px;
}

.form-title {
    font-size: 42px;
    margin: 40px;
    align-self: center;
}

.input-field-containers {
    display: flex;
    flex-direction: column;
}

.input-field {
    align-self: center;
    height: 50px;
    width: 400px;
    margin-bottom: 30px;
    padding: 5px;
    font-size: 18px;
}

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 300px;
}

.btn-submit {
    align-self: center;
    width: 300px;
    height: 60px;
    background-color: rgb(50, 50, 50);
    cursor: pointer;
    color: white;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}

.bottom-form-text {
    font-size: 18px;
}

.separator {
    height: 3px;
    width: 700px;
    background-color: rgb(165, 165, 165);
}

nav {
    max-width: 1500px;
}

/* Nav */
ul {
    list-style-type: none;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    overflow: hidden;
    border-radius: 5px;
    background-color: #333;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

/* Responsive styling using media queries */
@media (max-width: 800px) {

    .container,
    .form-container,
    .form {
        max-width: 100%;
        /* Allow the form to take up the full width on smaller screens */
    }
}

.password{
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: fit-content;
}