* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Corrected value */
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: "lato", sans-serif;
    height: 100vh;
    margin: 0;
}
