@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333233;
    height: 100%;
    width: 7.8rem;
    padding: 6px 14px;
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 24rem;
}

/* ************************* */
/* LOGO */
/* ************************* */

.logo-content .logo i {
    font-size: 3.2rem;
    margin-right: 0.5rem;
}

.logo-content .logo .logo-name {
    font-size: 2rem;
    font-weight: 400;
}

.sidebar .logo-content .logo {
    color: #fff;
    display: flex;
    height: 5.0rem;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .logo-content .logo {
    opacity: 1;
    pointer-events: none;
}

/* ************************* */
/* NAV BUTTONS */
/* ************************* */

.sidebar #btn {
    position: absolute;
    color: #fff;
    left: 50%;
    top: 0.6rem;
    font-size: 2rem;
    height: 5rem;
    width: 5rem;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar.active #btn {
    left: 90%;
}

/* ************************* */
/* NAV LINKS */
/* ************************* */

.sidebar ul {
    margin-top: 2rem;
}

.sidebar ul li {
    position: relative;
    height: 5rem;
    width: 100%;
    list-style: none;
    line-height: 50px;
}

/* Tool tip description */
.sidebar ul li .tooltip {
    position: absolute;
    left: 122px;
    top: 0;
    border-radius: 6px;
    /* mess with this */
    transform: translate(-50%, -50%);
    height: 35px;
    width: 122px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    line-height: 35px;
    text-align: center;
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    z-index: 999;
}

.sidebar ul li:hover .tooltip {
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
    border-radius: 12px;
    /* What? */
    white-space: nowrap;
}

.sidebar ul li a:hover {
    color: #11101d;
    background-color: #fff;
}

.sidebar ul li i {
    height: 5rem;
    min-width: 5rem;
    border-radius: 12px;
    /* How does this work? */
    line-height: 5rem;
    text-align: center;
}

.sidebar.active ul li .tooltip {
    display: none;
    z-index: 999;
}

.sidebar .links-name {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .links-name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar ul li .bx{
    font-size: 2rem;
}

/* ************************* */
/* SEARCH BAR */
/* ************************* */

.sidebar ul li input {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    /* background vs background-color? */
    background: #1d1b31;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
}

.sidebar ul li .bx-search-alt-2 {
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 22px;
    transition: all 0.3 ease;
}

.sidebar ul li .bx-search-alt-2:hover {
    background: #fff;
    color: #1d1b31;
}

/* ************************* */
/* PROFILE  */
/* ************************* */

.sidebar .profile-content {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar .profile-content .profile {
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background-color: #1f1e1f;
    transition: all 0.4s ease;
}

.sidebar.active .profile-content .profile {
    background: none;
}

.profile-content .profile .profile-details {
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.sidebar.active .profile .profile-details {
    opacity: 1;
    pointer-events: auto;
}

.profile .profile-details img {
    height: 45px;
    width: 45px;
    /* What is this? */
    object-fit: cover;
    border-radius: 12px;
}

.profile .profile-details .name-job {
    margin-left: 10px;
}

.profile .profile-details .name {
    font-size: 15px;
    font-weight: 400;
}

.profile .profile-details .job {
    font-size: 12px;
}

.profile #logout {
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    transition: all 0.4s ease;
    background: #2e2d2e;
}

.sidebar.active .profile #logout {
    left: 88%;
}

.sidebar.active .profile #logout {
    background: none;
}

/* ************************* */
/* HOME */
/* ************************* */

.home-content {
    position: absolute;
    height: 100vh;
    left: 7.8rem;
    width: calc(100% - 7.8rem);
    /* Very clenn very clean */
    transition: all 0.5s ease;
    overflow: auto;
    /* background-image: url(assets/hhh.gif); */
    background-color: #c8c6c6;
}

.home-content .text {
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin: 12px;
    z-index: -1;
}

.sidebar.active~.home-content {
    width: calc(100% -240px);
    left: 240px;
}

img{
    width: 100rem;
}