<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Project | <%= title%>
    </title>
</head>

<body>
    <nav>
        <div class="side-title">
            <a href="/">
                <h1>404</h1>
            </a>
            <p>Login site </p>
        </div>
        <ul>
            <li><a href="/api/v1/users/">Home</a></li>
            <li><a href="/api/v1/users/signIn">Sign In</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>

    <div class="blogs content">
        <h2>404 Not Found</h2>

    </div>

</body>

</html>