<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/application.css">
    <script src="https://threejs.org/build/three.min.js"></script>
    <title>Library Management System</title>
</head>

<body>
    <div class="container">
        <div class="application-container">
            <div class="application">
                <div class="sidebar customizable-div" id="customDiv">
                    <div class="sidebar-heading">
                        <div class="logo">
                            <div class="sphere"></div>
                        </div>
                        <div class="sidebar-title-container">
                            <p class="title">Interface</p>
                        </div>
                    </div>
                    <div class="links-container">
                        <a class="active" href="#home">Home</a>
                        <a href="#news">Page - 1</a>
                        <a href="#contact">Page - 2</a>
                        <a href="#about">Page - 3</a>
                    </div>
                </div>
                <div class="content-container">
                    <div class="header-container">
                        <h1 class="header-title">Hello Evangel</h1>
                        <p class="sub-header-text">This is the home page</p>
                        <div class="search-bar"></div>
                        <div class="user-profile">
                            <div class="img"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="color-container">
        <label for="colorPicker">Choose a color:</label>
        <input type="color" id="colorPicker" value="#ff5733" onchange="changeColor(this.value)">
        <div class="customizable-div" id="customDiv"></div>
    </div>

    <script>
        function changeColor(color) {
            document.getElementById('customDiv').style.backgroundColor = color;
        }
    </script>

</body>

</html>