<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Box Icon Links -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/application/sidebar.css">
    <link rel="stylesheet" href="/css/application/application.css">
    <title>Login</title>
</head>

<body>
    <div class="sidebar">
        <div class="logo-content">
            <div class="logo">
                <i class='bx bxl-c-plus-plus'></i>
                <div class="logo-name">Evangel</div>
            </div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">
            <li>
                <a href="/homepage">
                    <i class='bx bx-user'></i>
                    <span class="links-name">Home</span>
                </a>
                <span class="tooltip">Home</span>
            </li>
            <li>
                <a href="page-html.html">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links-name">HTML</span>
                </a>
                <span class="tooltip">HTML</span>
            </li>
            <li>
                <a href="page-css.html">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links-name">CSS</span>
                </a>
                <span class="tooltip">CSS</span>
            </li>
            <li>
                <a href="javascript-page.html">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links-name">JavaScript</span>
                </a>
                <span class="tooltip">JavaScript</span>
            </li>
        </ul>
        <div class="profile-content">
            <div class="profile">
                <div class="profile-details">
                    <img src="assets/kh.gif" alt="">
                    <div class="name-job">
                        <div class="name">Evangel Opolot</div>
                        <div class="job">Web developer</div>
                    </div>
                </div>
                <i class='bx bx-log-out' id="logout"></i>
            </div>
        </div>
    </div>

    <main class="background">
        <div class="home-content">
            <div class="title heading-primary">HOME</div>
            <section class="section-hero">
                <h1 class="heading-primary"></h1>
            </section>

            <div class="container">

            </div>
        </div>
    </main>


    <script src="/scripts/script.js"></script>
    <script src="/scripts/css.js"></script>
</body>

</html>