doctype html 
html
    // Head
    head 
        meta(charset='UTF-8')
        meta(name='viewport' content="width=device-width, initial-scale=1.0")
        <meta http-equiv="Content-Security-Policy" content="script-src 'self' https://unpkg.com;">
        link(rel='stylesheet', href='css/style.css')
        link(rel="stylesheet", href="/css/general.css")
        link(rel="stylesheet", href="/css/login/style.css")
        link(rel="stylesheet", href="/css/login/style.css")
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        link(rel="stylesheet", href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:400,700")
        title Login System | #{title} 

    body
        // Content
        block content
            h1 This is a placeholder heading 
        

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        //- script(src='/scripts/login.js')
        script(src='/scripts/login.js')
