extends base

block content 

    <div class="signup-container"> <h1>Sign In</h1>
        <form class="formm">
            <div class="input-field">
                <input type="email" id="email" placeholder="Email" name="email" required>
            </div>
            <div class="input-field">
                <input type="password" id="password" placeholder="Password" name="password" required>
            </div>
            <button type="submit">Sign In</button>
        </form>
        <p>Don't have an account? <a href="/sign-up">Create One</a></p> 
        <p><a href="/password-reset">Forgot Password?</a></p> 
    </div>
