extends base

block content 
    h1 This is the Overview

    
    each user in users
        .card 
            h1 #{user.firstName}
            p #{user.lastName}
            p #{user.email}
            a(href=`/users/${user.firstName}`) This is link
            | 
            | 
            a(href=`/login`) This is link for login
