extends base

block content 

    <div class="signup-container"> 
        <h1>Reset Your Password</h1>
        <form>
            <div class="input-field">
                <input type="email" id="email" placeholder="Email" required>
            </div>
            <button type="submit">Send Reset Link</button>
        </form>
        <p><a href="/login" class="back-button">Back to Sign In</a></p> 
    </div>

