<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Project | <%= title%>
    </title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>


    <div class="container">

        <div class="form-container">
            <div class="form">
                <h1 class="form-title">Login</h1>

                <form class="form-field-container" action="/api/v1/users/login" method="post">
                    <input class="input-field" placeholder="Email Address" type="email" name="email" id="" required />
                    <input class="input-field" placeholder="Password" type="password" name="password" id="" required />
                    <button class="btn-submit" type="submit">Submit</button>
                </form>

                <div class="bottom-form-text">
                    Not a Member?
                    <span> <a href="/user/signUp">Click Here</a></span>
                </div>

            </div>
        </div>

    </div>
</body>

</html>