<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Project | <%= title%>
    </title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">

        <div class="form-container">
            <div class="form">
                <h1 class="form-title">Create an Account</h1>

                <form class="form-field-container" action="/user/create-user" method="POST">
                    <input class="input-field" placeholder="First Name" type="text" name="firstName" id="" required>
                    <input class="input-field" placeholder="Last Name" type="text" name="lastName" id="" required>
                    <input class="input-field" placeholder="Email Address" type="email" name="email" id="" required>
                    <input class="input-field" placeholder="Password" type="password" name="password" id="" required>
                    <button class="btn-submit" type="submit">Submit</button>
                </form>

                <div class="bottom-form-text">Already have an account yet? <span> <a href="/user/signIn">Sign
                            in</a></span></div>
                <p class="new"></p>
            </div>
        </div>

    </div>
</body>

</html>